:root{
    --cor-de-fundo:#90EE90

}

*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #90EE90;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    
    position: relative; 
}

body{
    background-color: var(--cor-de-fundo)
}
section{
    display: flex;
    align-items: center;
    background-color: #32CD32;
    color: black;
    margin: 10px;
    padding: 10px 20px;
}

div{
    padding; 30px;
}

.diminuir{
    width: 15%;
}


ul li{
    list-style: none;
}

.texto{
    color: #808080;
}

a{
    color: #808080; 
    text-decoration: none; 
}

.lista{ 
    display: none; 
    position: absolute; 
    top: 100%;
    background-color: #rgb (99,72,72);
}

.caixa:checked~.lista{
    display: block;
}

#menu{
    display: none;
}

.lista-item{
    padding: 12px 0;
}