:root{
    --preto: #000000;
    --cor-de-fundo:#9ACD32;

}

body{
    color: var(--preto);
    background-color: var(--cor-de-fundo);
}

.oscar img {
    max-width:20px;
    max-height:15px;
}